body {
    background-color: rgb(215, 235, 250);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.container {
    --box-shadow-color: rgb(77, 93, 97);
    width:420px;
    display:flex;
    flex-direction:column;
    background-color: rgb(127, 197, 234);
    align-items:center;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid rgb(132, 113, 174);
    padding: 15px 20px 10px 20px;
}

.screen {
    width:370px;
    margin:5px;
    background-color: rgb(215, 235, 250);
    display:flex;
    flex-direction: column;
    text-align: right;
    padding: 10px;
    font-family: "Inconsolata", monospace;
    margin: 0px 5px 5px 5px;
    border-radius: 10px;
    border: 2px solid rgb(132, 113, 174);
    word-wrap: break-word;
    word-break: break-all;
}

#lastOperation {
    min-height:40px;
    width:360px;
    padding: 10px;
    font-family: "Inconsolata", monospace;
    font-size: 20px;
}

#currentScreen {
    min-height:60px;
    font-size: 40px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    font-family: "Inconsolata", monospace;
    margin:10px
}

button {
    background-color: rgb(215, 235, 250);
    border-radius: 10px;
    font-family: "Inconsolata", monospace;
    font-size: 25px;
    border: none;
    border: 2px solid rgb(127, 194, 159);
}

.btn.firstrow {
    grid-column: span 2;
    min-height: 60px;
    background-color: rgb(194, 127, 179);
}

.btn.data {
    width:90px;
    height: 70px;
    justify-content:center;
}

#equals {
    background-color: rgb(194, 127, 179);
}

#equals:hover,#clear:hover,#delete:hover {
    background-color: rgb(182, 109, 165);
}

button:hover {
    background-color: rgb(128, 173, 177);
}


